__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.env
storage/*.db
storage/*.sqlite
.key
*.key
config.json
venv/
.Python
build/
dist/
*.egg-info/
*.egg
talib_wrap.c
__pycache__
logs/
*.log
.DS_Store
Thumbs.db
*.decrypted.*
